# Working with Date Revisions

Many economic data series contain frequent revisions. `fredapi` provides several convenient methods for handling data revisions and answering the quesion of what-data-was-known-when.

In [ALFRED](http://research.stlouisfed.org/tips/alfred/) there is the concept of a *vintage* date. Basically every *observation* can have three dates associated with it: *date*, *realtime_start* and *realtime_end*.

- date: the date the value is for
- realtime_start: the first date the value is valid
- realitime_end: the last date the value is valid

For instance, there has been three observations (data points) for the GDP of 2014 Q1:

```xml
<observation realtime_start="2014-04-30" realtime_end="2014-05-28" date="2014-01-01" value="17149.6"/>
<observation realtime_start="2014-05-29" realtime_end="2014-06-24" date="2014-01-01" value="17101.3"/>
<observation realtime_start="2014-06-25" realtime_end="2014-07-29" date="2014-01-01" value="17016.0"/>
```

This means the GDP value for Q1 2014 has been released three times. First release was on 4/30/2014 for a value of 17149.6, and then there have been two revisions on 5/29/2014 and 6/25/2014 for revised values of 17101.3 and 17016.0, respectively.

In [1]:
from fredapi import Fred

In [2]:
fred = Fred(api_key='insert api key here')

## Get first data release only (i.e. ignore revisions)

In [3]:
gpd_first_release = fred.get_series_first_release('GDP')
gpd_first_release.tail()

date
2020-07-01    21157.635
2020-10-01    21479.529
2021-01-01    22048.894
2021-04-01    22722.581
2021-07-01    23173.496
Name: value, dtype: object

## Get latest data

**Note**: that this is the same as simply calling `get_series()`

In [4]:
gdp_latest_release = fred.get_series_latest_release('GDP')
gdp_latest_release.tail()

2020-07-01    21138.574
2020-10-01    21477.597
2021-01-01    22038.226
2021-04-01    22740.959
2021-07-01    23173.496
dtype: float64

## Get latest data known on a given date

In [7]:
gdp_on_20140601 = fred.get_series_as_of_date('GDP', '6/1/2014')
gdp_on_20140601.tail()

     realtime_start       date    value
2837     2014-01-30 2013-10-01  17102.5
2838     2014-02-28 2013-10-01  17080.7
2839     2014-03-27 2013-10-01  17089.6
2846     2014-04-30 2014-01-01  17149.6
2847     2014-05-29 2014-01-01  17101.3

## Get all data release dates

This returns a `DataFrame` with all the data from ALFRED

In [8]:
gdp_all_releases = fred.get_series_all_releases('GDP')
gdp_all_releases.tail()

     realtime_start       date      value
3061     2021-07-29 2021-01-01  22038.226
3062     2021-07-29 2021-04-01  22722.581
3063     2021-08-26 2021-04-01  22731.369
3064     2021-09-30 2021-04-01  22740.959
3065     2021-10-28 2021-07-01  23173.496